# Prefect Configuration
PREFECT_API_URL='https://prefect.com'

# Destination Configuration
DESTINATION__DUCKDB__DESTINATION_NAME='/test'

# ListenBrainz Configuration
SOURCES__LISTENBRAINZ__USERNAME=your_username
SOURCES__LISTENBRAINZ__ACCESS_TOKEN=your_access_token
SOURCES__LISTENBRAINZ__START_DATE='2015-01-01'

# iCloud Configuration
SOURCES__ARC_TIMELINE__APPLE_ID=your_apple_id@icloud.com
SOURCES__ARC_TIMELINE__PASSWORD=your_icloud_password
